---
const { Title } = Astro.props;
---

<!doctype html>
<html lang="id" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/android-chrome-512x512.png" />
    <meta
      name="description"
      content="Nikmati internet cepat jangkauan luas mulai dari 200 ribuan saja perbulan. Yuk pilih apmcXdb untuk memperlancar kegiatan mu dirumah bersama apmcXdb.net"
    />
    <meta
      name="keywords"
      content="Apmc, Apmcnet, ApmcXdb, ApmcXdb.net, Internet, Wifi, Wifi murah, Wifi indramayu, Wifi di indramayu"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Title} | Apmcxdb</title>
  </head>
  <body>
    <main class="text-dark bg-white">
      <slot />
    </main>
  </body>
</html>
